* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;


}

body {
    background-color: #d9dcd6;
}

ul {


  }

  li a:hover {
    background-color: #555;
    color: white;
  }

 .btn {
     background-color: #555;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }